<template>
  <div id="shell">
  <div id="header">    
    
    <div id="navigation">
      <ul>
        <li><a class="active" href="#">INICIO</a></li>
        <li>
              <router-link to="/movie">ADMINISTRACION</router-link>
        </li>        
      </ul>
    </div>
    <div id="sub-navigation">
      
      <div id="search">
        <form action="#" method="get" accept-charset="utf-8">
          <label for="search-field">Buscar</label>
          <input type="text" name="search field" value="Enter search here" id="search-field" class="blink search-field"  />
          <input type="submit" value="Aceptar" class="search-button" />
        </form>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
    
      <div class="box" v-for="m in movies">
        {{ m.gender }}
        <div class="movie">
          <div class="movie-image"> <span class="play"><span class="name">{{ m.title }}</span></span> <a href="#"><img src="./css/images/movie1.jpg" alt="" /></a> </div>
          <div class="rating">
            <p>{{ m.description }}</p>
            <div class="stars">
              <div class="stars-in">{{ m.sinopsis }}</div>
            </div>
            </div>
        </div>

      </div>  
        
        <div class="cl">&nbsp;</div>
      </div>
      
      
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
</template>

<script>
import i18n from '../lang/lang'
import axios from 'axios'

var movies = [];
export default {
  name: 'Main',
  data () {
    this.getAll();
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    setLang: function(lang){
      this.$store.dispatch('setLang', lang)
    },
    getAll: function() {
      
      axios.get('http://localhost:8000/movies').then(response => {
        movies = (response.data);
      })
    }
  },
}
</script>
