<template>
  <div id="shell">
  <div id="header">    
    
    <div id="navigation">
      <ul>
        <li><a class="active" href="#">INICIO</a></li>               
      </ul>
    </div>
    <div id="sub-navigation">
      
        <form action="#" method="get" accept-charset="utf-8">
          <label for="title">{{ $t('title') }}</label>
          <input type="text" name="title" id="title" class="blink search-field"  />
<br>
          <label for="description">{{ $t('description') }}</label>
          <input type="text" name="description" id="description" class="blink search-field"  />
<br>
          <label for="sinopsis">{{ $t('sinopsis') }}</label>
          <input type="text" name="sinopsis" id="sinopsis" class="blink search-field"  />
<br>
          <label for="gender">{{ $t('gender') }}</label>
          <input type="text" name="gender" id="gender" class="blink search-field"  />
<br>
          <input type="button" @click="save()" value="Guardar" class="search-button" />
        </form>
    </div>
  </div>
</div>
</template>

<script>
import i18n from '../lang/lang'
import axios from 'axios'

export default {
  name: 'Main',
  data () {
    this.getAll();
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    setLang: function(lang){
      this.$store.dispatch('setLang', lang)
    },
    save: function() {
      var movie = {
        'title' : document.getElementById('title').value,
        'description' : document.getElementById('description').value,
        'sinopsis' : document.getElementById('sinopsis').value,
        'gender' : document.getElementById('gender').value
      };
      this.$http.post('http://localhost:8000/movies', movie, 
      {headers: {
      'Content-type': 'application/json',
    }}).then(response => {
        console.debug(response.body);
      })
    },
    getAll: function() {
      var movie = {
        'title' : 'title',
        'description' : 'description',
        'sinopsis' : 'sinopsis',
        'gender' : 'gender'
      };
      axios.get('http://localhost:8000/movies').then(response => {
        console.debug(response.data);
      })
    }
  },
}
</script>
